<script setup lang="ts">
import { useMessageStore } from '@/stores/message'

const msgStore = useMessageStore()
</script>

<template>
  <div class="text-center">
    <v-snackbar v-model="msgStore.snackbar" multi-line>
      {{ msgStore.text }}

      <template v-slot:actions>
        <v-btn color="red" variant="text" @click="msgStore.snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
